@font-face {
  font-family: "PyeongChangPeace-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "PyeongChangPeace-Bold";
}

body,
html {
  margin: 0;
  padding: 0;
}

html {
  background: #212135;
}

.title {
  text-align: center;
  font-size: 6rem;
  margin: 5rem 0 8rem 0;
  color: white;
  text-shadow: 0px 0 11px #fcffe8;
  animation: glittering-letter 2s infinite alternate-reverse ease-in-out;
}

@keyframes glittering-letter {
  0% {
    text-shadow: 0px 0 11px #fcffe8;
  }
  100% {
    text-shadow: 0px 0 25px #fcffe8;
  }
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow: hidden;
}

.card {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.card img {
  width: 70%;
}
